<h3>ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box(:remember_me, {}, true, false) %>
      <%= f.label :remember_me  %>
    </div>
  <% end %>

    <p>
      <label>
        <input id="indeterminate-checkbox" type="checkbox" />
        <span>Indeterminate Style</span>
      </label>
    </p>

    <div class="row">


  <div class="actions">
  <div class="login-submit-button">
    
      <%= f.submit "ログインする!" %>
    
  </div>  
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "パスワードを忘れちゃった?", new_user_password_path(resource_name) %><br />
<% end %>

<!-- MULTIPLE SELECT -->
<div class="input-field">
  <select multiple>
    <option value="" disabled selected>Selecting Option</option>
    <option value="1">Option1</option>
    <option value="2">Option2</option>
  </select>
  <label>Select List</label>
</div>

<%# RADIO BUTTON %>
<p>
  <input type="radio" name="gender" id="male" checked>
  <label for="male">Male</label>
</p>
