<h4>投稿詳細</h4>
<h6 id="sub-button">
    <%= link_to '編集', edit_board_path %>
</h6>
<span class="gray-text text-darken-3">いいね件数: <%= @board.likes.count %></span>    
<% if current_user.already_liked?(@board) %>
    <%= button_to 'いいねを取り消す', board_like_path(@board), class: "like-button", method: :delete %>
<% else %>
    <%= button_to 'いいね', board_likes_path(@board), class: "like-button" %>
<% end %>
<% image_num = board.id %>
<% if board.id > 15 %>
    <% image_num = 1 %>
<% end %>
<%# Material Box %>
<%= image_tag("image#{image_num}.jpg" ,:class => "materialboxed") %>
<div class="section white">
    <h5 class="header">タイトル: <%= board.title %></h5>
    <h6 class="header">作成者: <%= board.name %></h6>
    <h6 class="grey-text text-darken-3 lighten-3"><%= board.body %></h6>
    <span class="gray-text text-darken-3">いいねしたユーザー</span>
    <% @board.liked_users.each do |user| %>
        <li><%= user.username %></li>
    <% end %>
    <h6>投稿した画像</h6>
        <div class="board-image">
            <% if board.image? %>
                <%= image_tag board.image.url %>
            <% end %>
        </div>
</div>

<a href="/boards", class="waves-effect waves-light btn">掲示板一覧へ戻る</a>
<button class="destroy-btn"><%= link_to '削除', board_path(board.id),  method: :delete %></button>



