<div class="show-image">
    <% image_num = board.id %>
    <% if board.id > 15 %>
        <% image_num = 1 %>
    <% end %>
    <%= image_tag("image#{image_num}.jpg") %><br>
</div>
<div class="post-content">
    <h5>タイトル: <%= board.title %></h5>
    <h6>作成者: <%= board.name%></h6>
    <h6>本文: <%= board.body %></h6>
    <p>
        <a><%= link_to '詳細', board_path(board.id), class: 'waves-effect waves-teal btn-flat' %></a>
        <a><%= link_to '削除', board_path(board.id), class: 'waves-effect waves-teal btn-flat', method: :delete %></a>
    </p>
</div>
