<!DOCTYPE html>
<html>
  <head>
    <title>MaterializeSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'navbar', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="session-control-box">
    <% if signed_in? %>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
